  
<ngx-spinner
bdColor="white"
size="medium"
color="blueviolet"
type="line-scale-pulse-out-rapid"
[fullScreen]="true"
>
<p style="color: black" class="mt-3">RoadMaster...</p>
</ngx-spinner>



  <section>
    <div class="col-lg-12 col-md-12 col-12">
        <div id="carouselExampleCaptions" data-bs-ride="carousel" class="carousel slide">
    
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
           <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
           <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
           </div>
      
          <div class="carousel-inner">
      
            <div class="carousel-item active">
             <!-- // <img src="js/car3.jpg" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption ">
                    <h5 class="animated fadeInDown" style="animation-delay:1s ;">THE BEST</h5>
                    <h5 class="animated fadeInDown" style="animation-delay:2s ;">VALUE INSURANCE</h5>
      
                    <p class="animated fadeInUp" style="animation-delay:3s ;">  Simple Steps You Can Take To Improve Ur Finacial</p><br>
                    <p class="animated fadeInUp md: " style="animation-delay:4s ;"><a  href="#">Discover..</a></p>

                   
                </div>
            </div>
      
         
            <div class="carousel-item ">
              <!-- <img src="js/car4.jpg"class="d-block w-100" alt="..."> -->
                <div class="carousel-caption ">
                    <h5 class="animated fadeInDown" style="animation-delay:1s ;">EASY CLAIM  </h5>
                    <h5 class="animated fadeInDown" style="animation-delay:2s ;">Quick Return Pay</h5>
      
                    <p class="animated fadeInUp" style="animation-delay:3s ;">100% Trusted Platform For Ur Investment </p>
                    <p class="animated fadeInUp mt-2" style="animation-delay:4s ;"><a  href="#">Explore..</a></p>
                    <!-- <button class="animated fadeInUp btn" style="animation-delay:3s ;background-color: blueviolet; color:white;" >Scroll More</button> -->
                </div>
            </div>
      
       
            <div class="carousel-item ">
              <!-- <img src="js/car5.jpg" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption ">
                    <h5 class="animated fadeInDown" style="animation-delay:1s ;">CUSTOMER SUPPOERT </h5>
                    <h5 class="animated fadeInDown" style="animation-delay:2s ;">24 HOURS ONLINE SERVICE </h5>
      
                    <p class="animated fadeInUp" style="animation-delay:3s ;">Safe Investment For Ensure Life</p>
                    <p class="animated fadeInUp mt-2" style="animation-delay:4s ;"><a href="#">Discover..</a></p>
                    <!-- <button class="animated fadeInUp btn" style="animation-delay:3s ;background-color: blueviolet; color:white;" >Scroll More</button> -->
                </div>
            </div>
      
          
      
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  </section>
    <!-- -----------------------------------------------------------------premium calculator--------------------------- -->

    <div class="premium-calculator mt-5 ">
        <div class="container">
            <div class="row"  >
                <div class="col-md-6 col-lg-6 col-12">
                    <h2 >Calculate Your <span>Insurance Premium <i class="fas fa-long-arrow-alt-right"></i></span> </h2>
    
                    <p>At MotorRoad Insurance, we believe in transparency and providing you with the tools to make informed decisions about your coverage. Use our premium calculator to estimate the insurance premium for your bike or car!</p>
                
                </div>

                <div   class="col-md-6 col-lg-6 col-12  "  >
                    <div class="border">
                        <div class="imgsec mx-5" 
                        >
                            <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705383737260?alt=media&token=21e4b4ef-5fc5-4b9c-8c40-ce26b90fa3fb" routerLink="/twowheeler-premium" class="img-fluid" width="200px" height="auto" alt="">
                        </div>
                        <div class="imgsec mx-5">
                            <img src="
                            https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705383803304?alt=media&token=8d956db0-3d65-4eb6-8b65-c2c6743ed105" routerLink="/fourwheeler-premium" class="img-fluid" width="200px" height="auto" alt="">

                        </div>
                    </div>     
                    
                 </div>

                 

                   </div>
        </div>

       
    </div>


  <!-- -----------------------------------------------------------------services0--------------------------- -->

  <section id="about">
    <div class="services">
      <div class="container">
    
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="service-heading  " >
                <h1 class="animated fadeInUp text-center" style="animation-delay:2s ">ROAD MASTER <span >SERVICES</span></h1>
              </div>
            </div>
          </div>
     
            <div class="row services-image m-2 text-center" >
    
              <div class="col-lg-3 col-4 ">
                <img  src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384037199?alt=media&token=7f1637ad-a998-4838-bdfc-faf91ee8ecd5" alt="" width="100" height="100">
                <h4 class="animated fadeInLeft" style="animation-delay:2s ">First Party</h4>
              </div>
    
              <div class="col-lg-3  col-4">
                <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384323393?alt=media&token=139c6141-c920-4b54-9ed8-01dd28ee51a7" alt="" width="100" height="100">
                <h4 class="animated fadeInLeft" style="animation-delay:2s ">Third Party</h4>
              </div>
    
              <div class="col-lg-3  col-4">
                <img src="
                https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384372239?alt=media&token=94d0109b-7f10-48e9-abe7-96b25036a98c" alt="" width="100" height="100">
                <h4 class="animated fadeInRight" style="animation-delay:2s ">Add ons</h4>
              </div>
    
              <div class="col-lg-3  col-4">
                <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384429235?alt=media&token=14a190eb-0c26-4b92-abfe-3271635e169b" alt="" width="100" height="100">
                <h4 class="animated fadeInRight" style="animation-delay:2s ">Full Insurance</h4>
              </div>

                <div class="col-lg-3  col-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384509507?alt=media&token=aeb6e608-8b85-49dd-9957-65503c06ddf0" alt="" width="100" height="100">
                    <h4>Personal Accident</h4>
                  </div>
        
                  <div class="col-lg-3  col-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384555403?alt=media&token=b96ebf2e-7bc6-42c4-ad46-bb6fdf7eec17
                    " alt="" width="100" height="100">
                    <h4>Zero depression</h4>
                  </div>
        
                  <div class="col-lg-3  col-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384584743?alt=media&token=40d85c99-48a9-4060-a8cf-e98c4f01a247" alt="" width="100" height="100">
                    <h4>Collision damage</h4>
                  </div>
        
                  <div class="col-lg-3  col-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705384634243?alt=media&token=c15569a0-8e9c-4c56-b132-70861acab7b8" alt="" width="100" height="100">
                    <h4>Own damage</h4>
                  </div>
        
    
             </div>
            </div>
    
    
     </div>

     <!-- ___________________happy customer------------------------ -->

     <div class="container mt-5 mb:mt-2  happycustomer">
      <h2 class="mt-5 text-center mb-3 achieved  ">RoadMaster Achievement</h2>
      <div class="row">
        <div class="col-md-4 area">
          <div class="card">
            <div class="card-body text-center ">
              <h5 class="card-title">Number of Users</h5>
              <p class="card-text">{{Nouser}} &plus;</p> <!-- Replace with your actual user count -->
            </div>
          </div>
        </div>
    
        <div class="col-md-4 area">
          <div class="card">
            <div class="card-body text-center ">
              <h5 class="card-title">Number of Blogs</h5>
            <p class="card-text">{{NoBlog}} &plus;</p> <!-- Replace with your actual blog count -->
            </div>
          </div>
        </div>
    
        <div class="col-md-4 area">
          <div class="card">
            <div class="card-body text-center ">
              <h5 class="card-title">Happy Clients</h5>
              <p class="card-text">{{NouserInsuranceTake}} &plus;</p> <!-- Replace with your actual happy client count -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
     <!-- ___________________design for bike------------------------ -->
   <div class="section-aboutProtection "  >
        <div class="container">
          <div class="row section-bike">
    
            <div class=" col-lg-6 col-md-6 col-12 order-1  " >

                     <h3 class="animated fadeInUp" style="animation-delay:1s ;">Your Road to Protection and <span> Peace of Mind!</span></h3>
                     <p class="animated fadeInUp" style="animation-delay:1s ;">Are you ready to hit the open road with confidence and security? Look no further than MotorRoad Vehicle Insurance. We understand that your vehicle is not just a mode of transportation; it's an essential part of your life. That's why we're here to provide you with comprehensive insurance coverage that goes beyond the basics.</p>
            </div>
    
            <div class=" col-md-6 col-lg-6 col-12 order-2">    
                    <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705383883136?alt=media&token=b54038a0-1945-49c5-953c-5fac11d206a5" alt="car" width="400"height="400" class="img-fluid">
            </div>
    
    
          </div>
        </div>
      </div>

      <!-- ----------------------------design for car---------------- -->
    
     <div class="section-aboutProtection1" >
        <div class="container">
          <div class="row">
        
            <div class="col1 col-md-6 col-xs-12 order-lg-1 order-2 car">
              <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705383928940?alt=media&token=64de3892-b0e1-4b2f-8e6b-475f909308b3" class="img-fluid" alt="car">
            </div>
        
            <div class="col1 col-md-6 col-xs-12 order-lg-2 order-1">
              <h3>Unlock Peace of Mind with <span> MotorRoad Vehicle Insurance! </span></h3>
              <p>Your vehicle is more than just a way to get from point A to point B – it's an extension of your life's journey. At MotorRoad, we understand the importance of protecting your cherished vehicle and ensuring your peace of mind on the road. That's why we're proud to introduce our comprehensive vehicle insurance coverage that puts you in the driver's seat of safety.</p>
            </div>
        
          </div>
        </div>
      </div>
      <!-- --------------------------why choose--------------- -->

    <div class="why-choose">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-header text-center">
              <h2>WHY YOU CHOOSE MOTOR ROAD </h2>
              <H3> VEHICLE INSURANCE?</H3>
            </div>
          </div>
        </div>
     </div>
    </div>

    <div class="container">
      <div class="reasonpart-grid">
         
          
        <div class="row">

            <div class="col-md-4 col-lg-4 col-12">
                <div class="card">
                    <div class="single-service text-center">
                        <i class="fa-solid fa-car-burst"></i>
                        <h2>Claim Supports</h2>
                     <p>Empowering you with unwavering support to actualize unique claims</p>
                   </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12">
                <div class="card">
                    <div class="single-service text-center">
                        <i class="fa-solid fa-person-biking"></i>
          <h2>Affortable prices</h2>
          <p>"Discover unbeatable prices,making quality,affordability hand"</p>
                   </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-12 ">
                <div class="card">
                    <div class="single-service text-center lastbox">
                        <i class="fa-solid fa-mobile"></i>
                     <h2>Paperless claim</h2>
                   <p>"Seamless claims,no paperwork. Experirnce hassle-free insurance."</p>
                </div>
            </div>

            
         

        </div>
     </div>

 </div>
    </div>
<!-- -------------------------------------------patner logo------------------------------- -->

<div class="container">
  
  <div class="row">
    <div class="col-lg-12">
      <div class="patners-heading text-center">
        <h2>Our Patners</h2>
        <p>Leading Insurance For Your Financial Freedom</p>
      </div>
    </div>
  </div>
  </div>


<div class="patners">
  <div class="container">
    <div class="patners-logo-row1">
      <div class="row">
    
          <div class="col-lg-2 col-md-2 col-4">
             <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705365224849?alt=media&token=effc9e46-6f24-49dc-9947-c2950ea516fe" alt="" width="100" height="100">
          </div> 
    
          <div class="col-lg-2 col-md-2 col-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705365461149?alt=media&token=9becb590-2902-44f2-9f12-254c2ca9dbeb" alt="" width="100" height="100">
         </div>
    
         <div class="col-lg-2 col-md-2 col-4">
          <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705365696734?alt=media&token=3104f26a-a805-41f9-a7bb-c1b77ec1df48 " alt="" width="100" height="100">
       </div>
    
       <div class="col-lg-2 col-md-2 col-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705366016641?alt=media&token=08a3a2f6-4140-4d2c-8f8b-a4a1c30a8d37 " alt="" width="100" height="100">
     </div>
    
     <div class="col-lg-2 col-md-2 col-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705366272343?alt=media&token=1fa44a73-3f8e-4d75-84a2-e8776b9e0ad2 " alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src=" https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705366531719?alt=media&token=1acec29f-a71e-4b2d-85a1-65145c01b019" alt="" width="100" height="100">
      
    </div>
    
    </div>
    </div>
    <!-- ---------------------------- -->
    <div class="patners-logo-row2">
    
    <div class="row">
    
      <div class="col-lg-2 col-md-2 col-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705366751242?alt=media&token=674eb871-c554-48f7-8bfe-b189386264bb  " alt="" width="100" height="100">
      </div>
    
      <div class="col-lg-2 col-md-2 col-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705367285929?alt=media&token=da6e3d44-bae7-4fdf-a368-5845464e05ac " alt="" width="100" height="100">
     </div>
    
     <div class="col-lg-2 col-md-2 col-4">
      <img src="
      https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705373631925?alt=media&token=9cd26f8f-19bb-44a5-bc0b-c06280263ec2 " alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705374016239?alt=media&token=25113746-3261-4304-963a-d38f584b5efa " alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src=" https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705374378472?alt=media&token=282d31c9-4914-4a5d-b968-0e9a8124da63" alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705374569003?alt=media&token=12695275-dce1-4a3c-8162-42906cef3ea6 " alt="" width="100" height="100">
    </div>
    
    </div>
    </div>
    <!-- --------------------------------- -->
    <div class="patners-logo-row3">
    
    <div class="row">
    
      <div class="col-lg-2 col-md-2 col-4">
        <img src=" https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705374719432?alt=media&token=efe2689c-d1f4-4b0b-9e44-db8288605348" alt="" width="100" height="100">
      </div>
    
      <div class="col-lg-2 col-md-2 col-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705374844337?alt=media&token=f2cea5b6-9b70-4d22-8d4a-a96ca9c8ac06 " alt="" width="100" height="100">
     </div>
    
     <div class="col-lg-2 col-md-2 col-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705375651083?alt=media&token=af86e038-ed49-4f6f-9de9-4b594dbbba15 " alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/postInsuranceIMG%2F1705387670553?alt=media&token=775f87de-12f9-4e99-84e1-e1198d339a29" alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src="
      https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705387951405?alt=media&token=781fb2eb-96a4-4a4a-b7e6-03784d34c45d
      " alt="" width="100" height="100">
    </div>
    
    <div class="col-lg-2 col-md-2 col-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/roadmaster-blog.appspot.com/o/UserIMG%2F1705388082693?alt=media&token=60b43acd-ff94-4a22-bb46-201f9137ed66" alt="" width="100" height="100">
    </div>
    
    </div>
    </div>
  </div>
</div>


<!-- -------------------------footer------------------ -->

 


